body {
  padding: 1em;
}
p {
  margin: 0 0 1.5em 0;
}
hr {
  border: none;
  border-bottom: 1px solid #ddd;
}
.page-header {
  border-bottom: 1px solid #ddd;
}
.page-header nav {
  margin-bottom: 1.5em;
}
.page-header nav a {
  margin-right: 0.75em;
}
.page-header nav a:last-child {
  margin-right: 0;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.pull-left {
  float: left;
  margin-right: 1em;
}
.pull-right {
  float: right;
  margin-left: 1em;
}
.margin-bottom {
  margin-bottom: 1.5em;
}
.margin-left {
  margin-left: 1.5em;
}
.margin-right {
  margin-right: 1.5em;
}
.margin-top {
  margin-top: 1.5em;
}
.margin-bottom-sm {
  margin-bottom: 0.75em;
}
.margin-left-sm {
  margin-left: 0.75em;
}
.margin-right-sm {
  margin-right: 0.75em;
}
.margin-top-sm {
  margin-top: 0.75em;
}
.nomargin-bottom {
  margin-bottom: 0;
}
.nomargin-left {
  margin-left: 0;
}
.nomargin-right {
  margin-right: 0;
}
.nomargin-top {
  margin-top: 0;
}
.text.gray {
  color: #777;
}
[data-key="postIndex"] .title img {
  border-radius: 0.1em;
  vertical-align: middle;
  width: 0.8em;
}
